* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.App {
  background: linear-gradient(rgb(0 0 0 / 92%), rgb(0 0 0 / 77%));
  height: 100vh;
}

.title {
  text-align: center;
  font-size: 4rem;
  color: rgb(233, 232, 232);
  font-family: cursive;
}

.search--form {
  width: 90%;
  margin: 0 auto;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search--form > .search--bar {
  width: 50%;
  padding: 0.4rem;
  background: transparent;
  border: 2px solid rgb(255, 255, 255);
  color: white;
  border-radius: 50px;
}

.search--form > .search--btn {
  padding: 0.6rem 0.6rem;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: 700;
  border-radius: 50px;
  border: none;
  margin-left: -50px;
  cursor: pointer;
}

.books {
  width: 90%;
  margin: 0 auto;
  padding-top: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.book--item {
  cursor: pointer;
}

.BookImg {
  width: 160px;
  transition: 350ms ease-in-out;
}

.book--item:hover .BookImg {
  transform: scale(1.1);
}

.preview--btn {
  position: absolute;
  overflow: hidden;
  background-color: rgb(209, 255, 6);
  color: #000;
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: 600;
  transition: background-color 250ms ease;
  cursor: pointer;
}

.read--btn {
  position: absolute;
  background-color: rgb(255, 118, 6);
  color: #020202;
  padding: 0.6rem 1rem;
  margin-top: 5rem;
  margin-left: 10px;
  border: none;
  outline: none;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 600;
  transition: 250ms ease;
  cursor: pointer;
}

.null--point {
  position: absolute;
  color: #f0f0f0;
  margin-top: 5rem;
  margin-left: 16px;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 600;
}

.preview--btn::after {
  content: "";
  position: absolute;
  background-color: #ff0000dc;
  width: 16px;
  height: 98px;
  transform: skew(-36deg, 0);
  top: 0;
  left: -5px;
}

.preview--btn:hover {
  background-color: yellowgreen;
}

.close--btn {
  position: absolute;
  background: red;
  color: white;
  border: none;
  border-radius: 50px;
  outline: 0;
  top: -380px;
  height: 30px;
  width: 30px;
  font-size: 1.4rem;
  cursor: pointer;
}

.reading--block {
  position: absolute;
  transform: translate(-50%, -70%);
  z-index: 1;
}

.iframe {
  position: absolute;
  width: 450px;
  height: 500px;
  bottom: -150px;
  right: 0;
  border: 0;
}
